@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
}

#typed{
    font-family: "Poppins", sans-serif;
    background-color: black;
    margin: 0;
    color: #fe019a;
    /* filter: drop-shadow(0 0 5px #fe019a); */
    font-size: 1.15rem;
    animation: neoFlashShadow 1s infinite alternate;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
footer{
    position: fixed;
    bottom: 0;
    right: 0;
}

footer > div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 300px;
    padding: 20px;
}

footer > div > a{
    color: white;
}
@keyframes neoFlashShadow{
    0%{
        filter: drop-shadow(0 0 5px #0BE7FB);
        color: #fe019999;
    }
    25%{
        color: #fe019a;


    }
    50%{
        color: #fe019999;
    }
    100%{
        filter: drop-shadow(0 0 10px #0BE7FB);
        color: #fe019a;
    }
}