body{
    margin: 0;
    padding: 0;
}
.playGround{
    width: 100%;
    height: 100vh;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main{
    position: absolute;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
}
.modalTest{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalTest > p{
    position: absolute;
    bottom: 20%;
}
.hide{
    display: none !important;
}